@media (max-width: 768px) {
    nav li {
        margin-right: 10px; 
        font-size: 14px; 
    }
}
/*.cartVisualization {
    display: none;
    position: fixed;
    top: 0;
    left: -100%; 
    bottom: 0;
    width: 80%; 
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow-y: auto; 
    padding: 20px;
    color: white;
    font-family: 'Outfit', sans-serif;
}


.cartVisualization i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-radius: 3px;
}


.cartVisualization ul {
    list-style-type: none;
    padding: 0;
}*/

.cartVisualization { 
 display: block;
 border: 1px solid #ddd;
 border-radius:25px;
 background-color:gray;
 margin:5px;
 padding: 20px;
 height: auto;
 font-family:'Outfit', sans-serif;
 color: white;

}
i {
 font-family: 'Space Mono', monospace;
 background-color:red;
 color:white;
 border-radius:3px;
 margin-left:5px;
}
.showMoreButton {
   font-family:'Lilita One', cursive;
   background: rgb(197,201,199);
   background: linear-gradient(297deg, rgba(197,201,199,1) 0%, rgba(167,176,169,1) 50%, rgba(152,159,152,1) 100%);
}
button {
   font-family: 'Space Mono', monospace;
   /*font-family: 'Lilita One', cursive;*/
   /*font-family: 'Outfit', sans-serif;*/
   color:white;
   background: rgb(197,201,199);
   background: linear-gradient(297deg, rgba(197,201,199,1) 0%, rgba(209,214,210,1) 50%, rgba(196,196,196,1) 100%);
   /*font-family: 'Gill Sans';
   font-size: 20px;
   background: rgb(23, 120, 236);
   background: linear-gradient(101deg, rgba(23, 120, 236, 1) 0%, rgba(63, 84, 255, 1) 50%, rgba(69, 76, 255, 1) 100%);
   color: white;
   padding: 10px 20px;
   border: none;
   cursor: pointer;
   border-radius: 15px;*/
      align-items: center;
      background-color: #0A66C2;
      border: 0;
      border-radius: 100px;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-flex;
      /*font-family: 'Gill Sans'/*-apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica */,Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 20px;
      max-width: 480px;
      min-height: 40px;
      min-width: 0px;
      overflow: hidden;
      padding: 0px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      touch-action: manipulation;
      transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
}


.addional {
  display:inline-block;
}
.collection {
  font-family: 'Lilita One', cursive;
  font-size:50px;
  text-align:center;
  background: #FFFFFF;
background: repeating-linear-gradient(to top, #FFFFFF 0%, #8FFFF8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.infos {
 
 display:none;
}


span {
  color:white;
  background-color:purple;
  border-radius:7px;
  
}
body {
  background-color:#000000;
  /*background: rgb(46,124,134);
  background: linear-gradient(297deg, rgba(46,124,134,1) 0%, rgba(55,138,179,1) 50%, rgba(45,118,170,1) 100%);
*/
}

body, h1, p {
    margin: 0;
    padding: 0;
}

header {
    /*background: rgb(19,56,61);
    background: linear-gradient(297deg, rgba(19,56,61,1) 0%, rgba(39,82,103,1) 50%, rgba(31,66,91,1) 100%);
    */
    background:#212121;
    padding: 10px 0;
} 
.logo {
    width:75px;
    height:75px;
    margin-bottom:0px;
}
.brand, .motto {
    color:white;
    text-align:center;
    font-family: 'Righteous', cursive;
}
.decorations {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    /*list-style-type: none;
    display: flex;*/
}

nav li {
    text-align:center;
    margin: 0px 60px 0px 60px;
    font-size: 16px; 
}

nav a {
    text-decoration: none;
    color:#ffffff;
    /*font-family: 'Yellowtail', cursive;', sans-serif;*/
    font-family: 'Space Mono', monospace;
}
img {
  border-radius:15px;
}
.featured-watches {
    display: flex;
    justify-content: space-between; 
    margin: 40px 0;
}
.infos {
    display: none;
}
.watch-card {
    /*font-family: 'Space Mono', monospace;*/
    height: auto;
    font-family: 'Outfit', sans-serif;
    background:#898e96;
    border: 1px solid #ddd;
    margin:5px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-basis: calc(33.333% - 20px); /* Make each card take up 1/3 of the width with spacing */
    transition: box-shadow 0.3s; /* Add a subtle hover effect */
}

.watch-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance the shadow on hover */
}

.watch-image {
    max-width: 100%;
    height: auto;
    border-radius:50px;
}

.watch-title {
    margin-top: 10px;
    font-weight: bold;
}
.watch-price {
    /*display: inline-block;
    background: cyan;*/
    background:linear-gradient(90deg, rgba(255,164,91,1) 0%, rgba(255,205,166,1) 50%, rgba(255,146,0,1) 100%);
    color: white;
    font-family: 'Space Mono', monospace;
    /*margin-top: 10px; */
}

.buy {
   background: rgb(80,86,117);
   background: linear-gradient(106deg, rgba(80,86,117,1) 0%, rgba(70,75,117,1) 50%, rgba(107,116,150,1) 100%);
   font-family: 'Space Mono', monospace;
   /*font-family: 'Yellowtail', cursive;', sans-serif;
   display: inline-block;*/
}

#finalizeOrder {
background: rgb(105,64,177);
background: linear-gradient(90deg, rgba(105,64,177,1) 0%, rgba(156,90,219,1) 50%, rgba(97,74,170,1) 100%);
font-family: 'Space Mono', monospace;
}

.your-items {
    font-family: 'Space Mono', monospace;
    text-align:center;
    margin-top:10px;
}

#cartVisualization li {
    color: blue; 
    font-family: 'Outfit', sans-serif;
    font-display:bold;
}

